
<h2>Meats Track</h2>
<input type="text" placeholder="Search Meats" class="form-control" data-ng-model="search">
 
<div class="">
    <div class="row movies-list">
        <div class="col-md-4" data-ng-repeat="meat in meats | orderBy:'-id':true | filter:search">
            <h2>{{meat.name | uppercase}}</h2>
            <p>
                <img data-ng-src="{{meat.thumb}}" class="thumb-big">
            </p>
            <p>{{meat.review | limitTo:99}}...</p>
            <p>
                <span class="label label-warning availability">Availability ({{meat.availability}})</span>
                <a ng-href="#/{{meat.name}} " class="btn btn-success ">{{meat.name}} Review</a>
            
			</p>
        </div>
    </div>
</div>